@using EntityLayer.Concrete;
@model List<SpanishExamContent>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/MainPage/Index.cshtml";
    int index = 0;
}




<div class="container">

    @foreach(var item in Model)
    {
        <div class="quiz">

        <div class="card p-3 mb-3 bg-outline-warning">
            <div class="card-header">
                <h4 id="question"> <strong>@item.SpanishExamDescription</strong></h4>
            </div>
            <div id="question" class=" card-body">
                <div class="mb-3 text-box">
                    <button class="btn btn-outline-primary">A</button>
                    <label for="question" class="form-label text-success-emphasis">@item.SpanishExamOptionA</label>
                </div>
                <div class="mb-3 text-box bg-info">
                    <button class="btn btn-outline-primary">B</button>
                    <label for="question" class="form-label">@item.SpanishExamOptionB</label>
                </div>
                <div class="mb-3 text-box bg-info">
                    <button class="btn btn-outline-primary">C</button>
                    <label for="question" class="form-label">@item.SpanishExamOptionC</label>
                </div>
                <div class="mb-3 text-box bg-info">
                    <button class="btn btn-outline-primary">D</button>
                    <label for="question" class="form-label">@item.SpanishExamOptionD</label>
                </div>
              

            </div>
        </div>
        </div>
    }
    <div class="mb-3 pb-5 text-end">
        <button id="next-btn" href="#" class="btn btn-primary">Go somewhere</button >
    </div>
   
    
</div>

<script>
    
    const questionElement = document.getElementById("question");
    const answer = document.getElementById("ans");
    const nextButton = document.getElementById("next-btn")

    let currentQuestionIndex = 0;
    let score = 0;

    function showQuestion() {
        let currentQuestion = questions[currentQuestionIndex];
        let qustionNo = currentQuestionIndex + 1;
        questionElement.innerHTML = questionNo + " . " + currentQuestion.
            question;
    }
</script>                  