@using EntityLayer.Concrete;
@model List<EnglishExamContent>

<div class="conteiner">

     @foreach(var item in Model)
    {
        <ul class="list-group pt-3">
            <li class="list-group-item disabled" aria-disabled="true">
                <span class="badge bg-success rounded-pill">1</span>
                <p id="j1">@item.EnglishExamDescription</p>
            </li>

            <li class="list-group-item list-group-item-action list-group-item-primary">
                <span class="badge bg-primary rounded-pill">A</span>
                @item.EnglishExamOptionA
            </li>
            <li class="list-group-item list-group-item-action list-group-item-primary">
                <span class="badge bg-primary rounded-pill">B</span>
                @item.EnglishExamOptionA
            </li>
            <li class="list-group-item list-group-item-action list-group-item-primary">
                <span class="badge bg-primary rounded-pill">C</span>
                @item.EnglishExamOptionA
            </li>
            <li class="list-group-item list-group-item-action list-group-item-primary">
                <span class="badge bg-primary rounded-pill">D</span>
                @item.EnglishExamOptionA
            </li>
        </ul>
    } 
    
    


</div>
